html,body {
    background-color: black;

    overflow: hidden;
}

#page {
    height: 100%;
}

#jumbotron {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
    color: orange;
    text-align: center;
    font-size: 4em;
}
